<div class="drawer" id="drawer">
  <div class="doctoc drawer-nav drawer-top">
    <div class="container">
      <ul>
        <h3>Terraformer Documentation</h3>
        <li><%= link_to 'Getting Started', '/getting-started/' %></li>

        <li><%= link_to 'Terraformer Core', '/core/' %></li>
        <li class="indent"><%= link_to 'Primitives', '/core/#terraformerprimitive' %></li>
        <li class="indent"><%= link_to 'Tools', '/core/#terraformertools' %></li>

        <li><%= link_to 'GeoStores', '/geostore/' %></li>
        <li class="indent"><%= link_to 'DataStores', '/geostore/data-stores/' %></li>
        <li class="indent"><%= link_to 'Spatial Indexes', '/geostore/spatial-indexes/' %></li>

        <li><%= link_to 'ArcGIS Parser', '/arcgis-parser/' %></li>
        <li><%= link_to 'WKT Parser', '/wkt-parser/' %></li>

        <li><%= link_to 'Glossary', '/glossary/' %></li>
      </ul>
    </div>
  </div>
</div>