<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">

    <title><%= "Terraformer" || current_page.data.title %></title>

    <%= stylesheet_link_tag "terraformer" %>
  </head>

  <body class="<%= page_classes %>" id="wrap">
    <%= partial "partials/nav" %>
    <%= partial "partials/doctoc" %>

    <main class="docs main-content" id="main-content">
      <%= yield %>
    </main>

    <%= partial "partials/footer" %>

    <%= javascript_include_tag  "modernizr.custom" %>
    <%= javascript_include_tag  "classie" %>
    <%= javascript_include_tag  "drawer" %>
  </body>
</html>